

.forgot-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#fff5fa;
}

.forgot-card{
width:400px;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.forgot-title{
text-align:center;
color:#ff4fa3;
margin-bottom:20px;
}

.forgot-card input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ddd;
border-radius:10px;
outline:none;
}

.forgot-card button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#ff4fa3;
color:white;
cursor:pointer;
font-weight:bold;
}
